.mermaid-fixer-setting-callout {
	background-color: var(--background-primary);
	border: 2px solid rgba(var(--callout-warning), 0.3);
	padding: 20px;
	border-radius: 12px;

	display: none;

	&:has(li) {
		display: block;
	}

	h3 {
		font-size: medium;
		color: rgb(var(--callout-warning));
		line-height: 1.2;
		margin: 0;

		svg {
			display: inline-block;
			vertical-align: top;
			width: 1.4em;
			margin-right: 0.6em;
		}
	}

	ul {
		margin: 1em 0 0 0;
		padding: 0 0 0 2em;
	}

	li {
		margin: .4em 0;
		line-height: 1.6;
	}

	strong {
		background-color: rgba(var(--callout-warning), 0.1);
		border-radius: 0.3em;
		padding: 0.1em 0.3em;
		margin: 0 0.1em;
		font-weight: var(--bold-weight);
	}

	code {
		font-family: var(--font-monospace);
		margin: 0 0.3em;
	}

}

.mermaid-fixer-highlight {
	border: 2px solid rgba(var(--callout-warning), 0.3);
	padding: 0.2em 0.5em;
	border-radius: 0.5em;
	font-weight: var(--bold-weight);
	margin-left: calc(-0.5em - 2px);
}